html,
body {
  margin: 0;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

.main-page {
  background: linear-gradient(90deg, #fcfefe 0%, #a5deff 100%);
}

.wrapper {
  width: 1170px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.logo {
  margin-top: 32px;
  margin-bottom: 60px;
}
.main-page-text-container {
  background: white;
  border-radius: 40px;
  padding-top: 60px;
  padding-left: 60px;
  padding-bottom: 60px;
  padding-right: 60px;
  box-sizing: border-box;
}

.main-page-btn {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  background: #ff6b0a;
  border: none;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}

.main-page-text-hello {
  color: #1b1d1f;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 0px;
  margin-bottom: 60px;
}

.main-page-text-title {
  color: #1b1d1f;
  font-size: 64px;
  font-weight: 600;
  line-height: 72px;
  margin-top: 0px;
  margin-bottom: 24px;
}

.main-page-text-desc {
  color: #1b1d1f;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 0px;
  margin-bottom: 32px;
}

.gus-facts {
  text-align: center;
  padding-top: 48px;
  padding-bottom: 100px;
}
.trezub {
  margin-bottom: 24px;
}

.gus-fact-item {
  width: 374px;
}

.gus-facts-title {
  color: #1b1d1f;
  font-size: 48px;
  font-weight: 600;
  line-height: 72px;
  margin-top: 0px;
  margin-bottom: 48px;
}

.gus-facts-desc {
  width: 772px;
  text-align: center;
  color: #1b1d1f;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 24px;
}

.gus-fact-item-title {
  color: #1b1d1f;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 8px;
  margin-bottom: 32px;
}

.gus-fact-item-desc {
  color: #1b1d1f;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0px;
}

.form-page {
  background: linear-gradient(90deg, #fcfefe 0%, #a5deff 100%);
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.form {
  width: 573px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  padding-top: 32;
  background: white;
  border-radius: 40px;
  box-sizing: border-box;
  margin: auto;
  text-align: center;
}

.form-title {
  color: #1b1d1f;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.form-desc {
  color: #1b1d1f;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 0px;
  margin-bottom: 24px;
}

.form-field {
  text-align: left;
  margin-bottom: 24px;
}

.form-input {
  width: 453px;
  height: 60px;
  background: white;
  border-radius: 8px;
  border: 1px #005bbb solid;
  color: #1b1d1f;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 12px;
  padding-right: 12px;
}

.form-label {
  color: #1b1d1f;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 8px;
}

.form-btn {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  background: #ff6b0a;
  border: none;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  margin-top: 24px;
}

.gus-anim {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  margin-bottom: auto;
  margin-top: auto;
  width: 100%;
  z-index: 2;
  pointer-events: none;
}

.tresub {
  margin-top: 24px;
}
